.hero {
    position: relative;


    padding-top: 450px;
    padding-bottom: 370px;
    /* padding-bottom: 559px; */
    /* background-color: rgb(217, 156, 156); */
}



.hero__title {
    font-size: 55px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}



.hero__main {
    
    max-width: 356px;
    /* position: relative; */
    /* z-index: 2; */
}

.hero__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.hero__slides {
    display: flex;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

.hero__slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}
